*
{
    box-sizing:border-box;
}
[class*="col-"] 
{
  float: left;
  border: 5px solid white;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row100{height:100%;}
.row50{height:50%;}
.row33{height:33.33%;}
.wrapper {
    border: none;
}
.leftbigdiv {
    border-right: none;
}
.rightbigdiv {
    border-left: none;
}
.main-container {
    border: 5px solid white;
    width: 100%;
    height: 100%;
}
.inner-container {
    border: 1px solid red;
    height: 100%;
    width: 100%;
}
body, html {
  width: 100%;
  height: 100% ;
  margin: 0;
}
@media screen and (max-width: 750px) 
{
    .main-container 
    {
        border: 1px solid red;
        height: auto;  
        padding: 5px;  
        overflow: hidden;
    }
    [class*="col-"] 
    {
        width: 100%;
        height: auto;
        border: none;
        padding: 0;
        margin-bottom: 10px;
    }
    .inner-container 
    {
        height: 150px;
        border: 1px solid red; 
    }
    .rightbigdiv > .inner-container {
        border: none;
        height: auto;
        padding: 0;
    }
    .row100, .row50, .row33 {
        height: auto;
    }
}